---
import { credibility } from '../data/credibility';
---

<section id="credibility" aria-label="Key credentials at a glance">
  <div class="cred-inner">
    {credibility.map(item => (
      <div class="cred-item">
        <div class="cred-icon" aria-hidden="true">
          <Fragment set:html={item.iconSvg} />
        </div>
        <div>
          <div class="cred-value" data-count={item.dataCount} data-suffix={item.dataSuffix}>{item.value}</div>
          <div class="cred-text">{item.text}</div>
        </div>
      </div>
    ))}
  </div>
</section>
